.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  /* border-radius: 10px; */
}

.slick-dots {
  display: none; 
}

@media (orientation: landscape) {
  .slider-container {
    width: 50%;
  
    
  }

}

@media (orientation: portrait) {
  .slider-container {
    width: 100%;
  
    
  }

}

.slick-slide {
  /* margin: 0 10px; */
  z-index: 998;
  text-align: center;
}

.slick-active.slick-current {
  z-index: 999;
  }

.slick-list {
  margin: 0 -10px;

}

.slick-track {
  display: flex;
}

.hasLesson {
  background-color: red;
}

.slider-item {
  border: 1px solid black;
  margin-right:1rem;
  /* width: 16.6666666667vw; */
}

@media (orientation: portrait) {

  
  .slider-item {
    height: 7rem;
  
  }
}

@media (orientation: landscape) {

  
.slider-item {
  height:3rem;

}

}

.item-h {
  width:100%;
  z-index: 1000;

}

h3 { 
  width:100px

}